<h2>My Capsules</h2>
<ul class="capsules">
  <li *ngFor="let capsule of capsules"  [class.selected]="capsule === selectedCapsule" (click)="onSelect(capsule)" >
    <span class="badge">{{capsule.capsule_serial}}</span> {{capsule.capsule_id}}
  </li>
</ul>

<!--
<h2>{{selectedCapasule.capsule_serial | uppercase}} Details</h2>
<div><span>capsule id: </span>{{selectedCapsule.capsule_id}}</div>
<div>
  <label for="Capsule serial">Capsule serial: </label>
  <input id="capsule_serial" [(ngModel)]="selectedCapsule.capsule_serial" placeholder="name">
</div>
-->

<div *ngIf="selectedCapsule">

  <h2>{{selectedCapsule.name | uppercase}} Details</h2>
  <div><span>capsule serial: </span>{{selectedCapsule.capsule_serial}}</div>
  <div>
    <label for="capsule-name">Capsule name: </label>
    <input id="capsule-name" [(ngModel)]="selectedCapsule.capsule_id" placeholder="name">
  </div>

</div>
